
footer{float:left; width:100%;}
span{display:block;}
h6,h5,h4,h3,h3,h1
{margin:0; padding:0;}
h4{font-weight:bold}
.bg-class
{
float:left;
width:100%;
background-image:url("../images/dashboard-summary-bg.jpg");
background-repeat:repeat-x;
height:300px;
position:absolute;
}
.ArticleHolder
{
position:relative;
background:none;
color:#f8f8f8;
padding: 20px 0 10px 0;
}

.class-Icon
{
padding:30px 0 0 0;
}

.heading-Top
{
float:left;
width:100%;
background-color:#333333;
color:#f8f8f8;
padding:15px;
}
.HorizontalDivider{
     border-bottom: 1px solid #ccc;
	 margin:0 10px 0 10px;
     width: 98%;
 }
.navbar
{margin-bottom:0 !important;}
.main-container
{
width:60%;
margin-left:auto;
margin-right:auto;
}

.heading-inline
{display:inline !important; color:#f47741;}

.box-container
{
 float:left;
 width:30%;
 height:550px;
 margin:.66%;
 overflow:hidden;
}

.top-div
{
float:left;
width:100%;
height:50%;
text-align:center;
background-color:#ffffff;
}
.bottom-div
{
float:left;
width:100%;
height:50%;
text-align:center;
padding: 0 10px 10px 10px;
background-color:#e1eeff;
}

.content-alignment
{
padding:10px;
line-height:18px;
}
.link-div
{
float:left;
width:100%;
height:auto;
padding:5px;
text-align:right;
color:#005d90;
font-weight:bold;
background-color:#e1eeff;
}
.link-class
{
 text-decoration:none;
 color:#333;
}

 .slick-prev, .slick-next
 {border-radius:10px; height:18px;}


@media screen and (max-width: 768px) {

    .OfferingCustomeRow {
        margin-right: 15px !important;
    }
    #OfferingContents {
    border:none;
    }
}