.QuestionClass{
    color: rgb(27, 94, 149);
    font-size: 26px;
    font-weight: normal;
}
.AnswerClass{
    color: #000;
    font-size: 16px;
    margin-left: 35px;
    font-weight: normal;
}
.navbar
{margin-bottom:0 !important;}

.main-container
{
width:950px;
margin:auto;
clear:both;
}

footer{float:left; width:100%;}
h6,h5,h4,h2,h3,h1{padding:0; margin:0;}

.navbar{margin:0;}

.ArticleHolder
{padding:20px;}