
footer{float:left; width:100%;}
h6,h5,h4,h2,h3,h1{padding:0; margin:0;}

.navbar{margin:0;}
 .slick-prev, .slick-next
 {border-radius:10px; height:18px;}
.Main-container
{
 height:auto;
 width:980px;
 margin:auto;
 clear:both;
 font-size:16px;
 color:#333333;
}

.Main-container-left
{
float:left;
width:50%;
height:100%;
border-right:1px solid #ccc;
}
.Main-container-right
{
float:left;
width:50%;
height:100%;
}

.heading-div
{
 float:left;
 width:100%;
 height:auto;
 border-bottom:1px solid #ccc;
 padding: 5px 0 5px 0;
}

.content-container
{
 float:left;
 height:auto;
}

.content-container>ul>a>li
{
 padding-top:5px;
}
.content-container>ul>a
{
 text-decoration:none;
 color:#005f8d
}
@media screen and (max-width: 768px) {

    .OfferingCustomeRow {
        margin-right: 15px !important;
    }
    #OfferingContents {
    border:none;
    }
}