 @font-face {
    font-family: HelveticaNeueLTStd-Lt;
    src: local(HelveticaNeueLTStd-Lt), url('../Fonts/HelveticaNeueLTPro-Lt.otf') format('opentype');
}
  @font-face {
    font-family: Helvetica Neue;
    src: local(Helvetica Neue), url('../Fonts/Helvetica-Normal.ttf') format('truetype');
}
footer{float:left; width:100%;}
body{font-family:HelveticaNeueLTStd-Lt; color:#333; font-size:16px;}

.navbar
{margin-bottom:0 !important;}
.container-Div-top
{
 float:left;
 width:100%;
 height:auto;
 padding:15px 30px 30px 30px;
 border-top:1px solid #ccc;
 border-bottom:1px solid #ccc;
}
.container-Div-second
{
 float:left;
 width:100%;
 height:auto;
 padding:0 0 20px 0;
 border-bottom:1px solid #ccc;
}

.container-Div-second>.container-left
{
 float:left;
 width:50%;
 height:350px;
 text-align:left;
 padding:110px 0 0 100px;
}
.container-Div-second>.container-right
{
 float:right;
 width:50%;
 height:350px;
 text-align:center;
}

.container-Div-third
{
 float:left;
 width:100%;
 height:auto;
 border-bottom:1px solid #ccc;
 background-color: rgb(244, 244, 244);
}

.container-Div-third>.container-left
{
 float:left;
 width:50%;
 height:350px;
 text-align:center;
}
.container-Div-third>.container-right
{
 float:right;
 width:50%;
 height:350px;
 text-align:right;
 padding:70px 50px 0 20px;
}

.container-Div-fourth
{
 float:left;
 width:100%;
 height:auto;
 padding:0 0 20px 0;
 border-bottom:1px solid #ccc;
}

.container-Div-fourth>.container-left
{
 float:left;
 width:50%;
 height:350px;
 padding:80px 20px 0 20px;
 text-align:left;
}
.container-Div-fourth>.container-right
{
 float:right;
 width:50%;
 height:350px;
 text-align:center;
}

.container-Div-fifth
{
 float:left;
 width:100%;
 height:auto;
 margin:0 0 20px 0;
 padding:0 0 20px 0;
 background-color: rgb(244, 244, 244);
}

.container-Div-fifth>.container-left
{
 float:left;
 width:50%;
 height:350px;
 text-align:center;
}
.container-Div-fifth>.container-right
{
 float:right;
 width:50%;
 height:350px;
 padding:110px 20px 0 20px;
 text-align:right;
}

.Tab-Container
{
float:left;
height:300px;
padding:0 10px 0 10px;
width:33%;
text-align:center;
}

.heading-h2
{
color:#005e8c;
font-size:24px;
}
.heading-class
{
 text-align:center;
 width:100%;
 float:left;
 font-weight:600 !important;
}
.right-border
{
 border-right:2px dotted gray;

}
 .slick-prev, .slick-next
 {border-radius:10px; height:18px;}


@media screen and (max-width: 768px) {

    .OfferingCustomeRow {
        margin-right: 15px !important;
    }
    #OfferingContents {
    border:none;
    }
}