 
footer{float:left; width:100%;}
body{font-size: 16px; line-height:1.45em;}
.navbar
{margin-bottom:0 !important;}

.image-popup-link
{
margin:10px;
display:inline-block;
}
.Header-Div-Container
{
 background-color:#f2f2f2;
 border-top:1px solid #ccc;
 border-bottom:1px solid #ccc;
 padding: 10px 0 10px 0;
}
.container-Div-top
{
 clear:both;
 width:980px;
 margin:auto;
 height:auto;
}

.Header-Div2-Container
{
 border-bottom:1px solid #ccc;
 padding: 20px 0 20px 0;
}
.container-Div-second
{
  clear:both;
 width:980px;
 margin:auto;
 height:auto;
}

.container-Div-second>.container-left
{
 float:left;
 width:55%;
 height:350px;
 text-align:center;
 padding:0 0 0 15px
}
.container-Div-second>.container-right
{
 float:right;
 width:45%;
 height:350px;
 text-align:justify;
 padding:30px;
}

.Header-Div3-Container
{
 background-color:#f3f2f1;
 border-bottom:1px solid #ccc;
 padding: 10px 0 30px 0;
}
.container-Div-third
{
 clear:both;
 width:980px;
 margin:auto;
 height:auto;
}

.container-Div-third>.container-left
{
 float:left;
 width:55%;
 height:350px;
 text-align:justify;
 padding:70px 50px 0 20px;
}
.container-Div-third>.container-right
{
 float:right;
 width:45%;
 height:350px;
 text-align:center;
}
.Header-Div4-Container
{
 border-bottom:1px solid #ccc;
 padding: 10px 0 30px 0;
}
.container-Div-fourth
{
 clear:both;
 width:980px;
 margin:auto;
 height:auto;
}

.container-Div-fourth>.container-left
{
 float:left;
 width:50%;
 height:350px;
 text-align:center;
}
.container-Div-fourth>.container-right
{
 float:right;
 width:50%;
 height:350px;
 padding:0 30px 0 20px;
 text-align:justify;
}
.Header-Div5-Container
{
background-color:#f3f2f1;
 border-bottom:1px solid #ccc;
 padding: 10px 0 10px 0;
}
.container-Div-fifth
{
 clear:both;
 width:980px;
 margin:auto;
 height:auto;
}

.container-Div-fifth>.container-left
{
 float:left;
 width:50%;
 height:auto;
 padding:40px 20px 0 20px;
 text-align:justify;
}
.container-Div-fifth>.container-right
{
 float:right;
 width:50%;
 height:auto;
 text-align:center;
}

.Tab-Container
{
float:left;
height:330px;
padding:0 20px 10px 20px;
width:33%;
text-align:center;
}

.heading-h2
{
color:#005e8c;
}
.heading-class
{
 text-align:left;
 width:100%;
 float:left;
 font-weight:600 !important;
}
.right-border
{
 border-right:1px solid #ccc;

}
 .slick-prev, .slick-next
 {border-radius:10px; height:18px;}


@media screen and (max-width: 768px) {

    .OfferingCustomeRow {
        margin-right: 15px !important;
    }
    #OfferingContents {
    border:none;
    }
}